
<mat-nav-list class="sidenav-list" *ngIf="users()">
  
  <a mat-list-item routerLink="/user-dashboard/0" (click)="onToggleClose()">
    <mat-icon mat-list-icon>assignment</mat-icon> All Quizzes
  </a>
</mat-nav-list>

   <mat-nav-list class="sidenav-list" *ngIf="admin()">
            <a routerLink="/admin/welcome" mat-list-item (click)="onToggleClose()">
                  <mat-icon mat-list-icon>home</mat-icon> Home
            </a>
                <a mat-list-item routerLink="/admin/profile" (click)="onToggleClose()">
                  <mat-icon mat-list-icon>account_circle</mat-icon> Profile
                </a>
                <a mat-list-item routerLink="/admin/categories" (click)="onToggleClose()">
                  <mat-icon mat-list-icon>list</mat-icon> Categories
                </a>
                <a mat-list-item routerLink="/admin/level" (click)="onToggleClose()">
                  <mat-icon mat-list-icon>waves</mat-icon> Level
                </a>
                <a mat-list-item routerLink="/admin/add-quest-set" (click)="onToggleClose()">
                  <mat-icon mat-list-icon>waves</mat-icon> Question Set
                </a>
                <a mat-list-item routerLink="/admin/subject" (click)="onToggleClose()">
                  <mat-icon mat-list-icon>library_books</mat-icon> Subject
                </a>
                <a mat-list-item routerLink="/admin/quizzes" (click)="onToggleClose()">
                  <mat-icon mat-list-icon>assignment</mat-icon> Quizzes
                </a>
                <a mat-list-item routerLink="/admin/upload-user" (click)="onToggleClose()">
                  <mat-icon mat-list-icon>add</mat-icon> Upload User
                </a>
                <a mat-list-item routerLink="/admin/upload-content" (click)="onToggleClose()">
                  <mat-icon mat-list-icon>add</mat-icon> Upload Content
                </a>

  </mat-nav-list>
  

                