<mat-nav-list class="sidenav-list">
  <a mat-list-item routerLink="/login" (click)="onToggleClose()">
    <mat-icon>input</mat-icon>
    <span>Login</span>
  </a>
  <a mat-list-item routerLink="/signup" (click)="onToggleClose()">
    <mat-icon>account_circle</mat-icon>
    <span>Signup</span>
  </a>
  <a mat-list-item routerLink="/user-dashboard/0">
    <mat-icon mat-list-icon>category</mat-icon> All Quizzes
  </a>
  <a
    [routerLink]="'/user-dashboard/' + c.cat_id"
    mat-list-item
    *ngFor="let c of categories"
  >
    <mat-icon mat-list-icon>assignment</mat-icon> {{ c.cat_title }}
</a>
</mat-nav-list>