
  
<div class="container text-center mt20">
  <button routerLink="/admin/add-level" mat-raised-button color="primary">
    Add New Level
  </button>
</div>
<div class="row mt20">
<div class="col-md-4" *ngFor="let l of levels">
<mat-card class="mt10 mr20 ml20" >
  
  <mat-card-header>
    <mat-card-title>
      {{ l.level_title }}
    </mat-card-title>
    <mat-card-subtitle>
      <b>Class: {{ l.level_class }}</b>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    {{ l.level_desc }}
  </mat-card-content>
  <mat-card-action>
  
    <button
    (click)="deleteQuiz(q.qId)"
      mat-flat-button
      color="primary"
    >
      Delete
    </button>
  </mat-card-action>
</mat-card>



</div>
</div>


