.image{
    height: 200px; 
    background-image: url('https://img.freepik.com/free-vector/geometric-science-education-background-vector-gradient-blue-digital-remix_53876-125993.jpg?w=2000');
    opacity: 40%;
}
