<div class="bootstrap-wrapper" style="margin-top: 30px;">
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-4">
          <mat-card class="mb20">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"><mat-icon>supervisor_account</mat-icon></div>
              <mat-card-title>
             Total Users
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <h1>4</h1>
            </mat-card-content>
            
              <button mat-button color="primary">View</button>
          </mat-card>
        </div>
        <div class="col-md-4">
          <mat-card class="mb20">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"><mat-icon>list</mat-icon></div>
              <mat-card-title>
             Categories
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <h1>4</h1>
            </mat-card-content>
            
              <button mat-button color="primary" routerLink="/admin/categories">View</button>
            
          </mat-card>
        </div>
        <div class="col-md-4">
          <mat-card class="mb20">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"><mat-icon>waves</mat-icon></div>
              <mat-card-title>
             Levels
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <h1>4</h1>
            </mat-card-content>
            
              <button mat-button color="primary" routerLink="/admin/level">View</button>
    
    
          </mat-card>
        </div>
        
  
</div>
<div class="row">
  <div class="col-md-4">
    <mat-card class="mb20">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"><mat-icon>assignment</mat-icon></div>
        <mat-card-title>
       Quiz
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h1>4</h1>
      </mat-card-content>
      
        <button mat-button color="primary" routerLink="/admin/quiz">View</button>
        


    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card class="mb20">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"><mat-icon>library_books</mat-icon></div>
        <mat-card-title>
       Subject
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h1>4</h1>
      </mat-card-content>
      
        <button mat-button color="primary" routerLink="/admin/subject">View</button>
       


    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card class="mb20">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"><mat-icon>assignment</mat-icon></div>
        <mat-card-title>
       Categories
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h1>4</h1>
      </mat-card-content>
      
        <button mat-button color="primary">View</button>
        <button
          mat-button
          color="primary"
          class="ml10"
        >
          Start
        </button>


    </mat-card>
  </div>
  

</div>
      </div>
    </div>