<div class="bootstrap-wrapper mt20">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 text-center">
          <button mat-raised-button color="primary" routerLink="/user-dashboard/0" class="justify-content-center">Home</button>
        </div>
      </div>
      <div class="row" style="margin-top: 20px;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <table mat-table [dataSource]="dataSource">

                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                  
                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                      <th mat-header-cell *matHeaderCellDef><b>Ranking</b> </th>
                      <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef><b>Name</b></th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                  
                  
                  
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="score">
                      <th mat-header-cell *matHeaderCellDef><b>Total Score</b></th>
                      <td mat-cell *matCellDef="let element"> {{element.marks_obtained}} </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  
                  
            </div>
            <div class="col-md-2"></div>
        </div>
      </div>
    </div>
            