<form [formGroup]="form" (ngSubmit)="onSubmit()" enctype='multipart/form-data'>
  <div class="bootstrap-wrapper">
    <div class="row mt20">
      <div class="col-md-8 offset-md-2">
        <mat-card>
          <mat-card-header>
            <mat-card-subtitle>
              Upload Content
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <div class="col-md-12">
                <!-- Class -->

                <mat-form-field class="w100">
                  <mat-label>Subjects</mat-label>
                  <mat-select name="level" formControlName="subject">
                    <mat-option *ngFor="let s of subject" [value]="s.sub_title">
                      {{ s.sub_title }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">

                <!-- option2 -->
                <mat-form-field class="w100">
                  <mat-label>Class</mat-label>
                  <mat-select name="class_st" formControlName="class">
                    <mat-option value="1">1st</mat-option>
                    <mat-option value="2">2nd</mat-option>
                    <mat-option value="3">3rd</mat-option>
                    <mat-option value="4">4th</mat-option>
                    <mat-option value="5">5th</mat-option>
                    <mat-option value="6">6th</mat-option>
                    <mat-option value="7">7th</mat-option>
                    <mat-option value="8">8th</mat-option>
                    <mat-option value="9">9th</mat-option>
                    <mat-option value="10">10th</mat-option>
                    <mat-option value="11">11th</mat-option>
                    <mat-option value="12">12th</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">

                <mat-form-field class="w100">
                  <mat-label>Chapter Name</mat-label>
                  <input required formControlName="chapterName" name="chapterName" type="text" matInput />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">

                <!-- File -->

                <mat-label style="margin-right: 30px;">File Upload</mat-label>


                <button mat-icon-button aria-label="Upload" type="button" (click)="fileInput.click()">
                  <mat-icon>cloud_upload</mat-icon>
                  <input #fileInput type="file" formControlName="file" name="uploadFile" (change)="onFileChange($event)"
                    style="display:none;" accept="application/pdf,application/msword" />

                </button>
                <span>{{fileName}}</span>

              </div>
            </div>



            <div class="container text-center">
              <button mat-raised-button color="primary" type="submit">Add</button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</form>