<div class="bootstrap-wrapper ">
  <div class="container ">
    <div class="row mt-4">
      <div class="col-md-6 offset-md-3">
        <mat-card>
          <h2 class="text-center vstd-headers">Login Here</h2>

          <!-- {{ loginData | json }} -->
          <form (ngSubmit)="formSubmit()">
            <!-- username field -->
            
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Registration Id</mat-label>
              <input matInput placeholder="Enter Here" [(ngModel)]="loginData.regId" name="regId" required>
              <mat-icon matSuffix>alternate_email</mat-icon>
            </mat-form-field>

            <!-- password field  -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>User Password</mat-label>
              <input matInput placeholder="Password"  [(ngModel)]="loginData.password" name="password" [type]="hide ? 'password' : 'text'" required>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>

            
            <div class="container text-center">
              <button mat-raised-button color="primary" type="submit">
                Login
              </button>
              <button class="ml10" mat-raised-button color="primary">
                Reset
              </button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
