<div class="bootstrap-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
        
          <div id="progressBar">
            <mat-progress-bar mode="indeterminate">
              </mat-progress-bar></div>
              <h3>{{subj}}/{{currentChapter}}</h3>
              <ngx-doc-viewer 
               [url]="docUrl"
              viewer="google"
              disableContent="'none' | 'all' | 'popout' | 'popout-hide' = 'none'"
              style="height: 768px;"
              googleCheckContentLoaded="true"
  googleCheckInterval = 3000
  googleMaxChecks = 5
  (loaded)="contentLoaded()">
              </ngx-doc-viewer>
              
            
        </div>
        <div class="col-md-2">
          <mat-card>
            <ul class="list-group">
              <div *ngFor="let s of allChapter | keyvalue">
              <li class="list-group-item special"><a (click)="loadNgxDocUrl(s.value,s.key)"><i class="fa fa-dashboard"></i> {{s.key}}</a></li>
                
            </div>
            </ul>
          </mat-card>
        </div>
      </div>
    </div>
</div>
         