#chapterCard{
    background-image: url("https://img.freepik.com/free-vector/education-pattern_1061-494.jpg");
    opacity: 0.5;
    height: 80px;
    margin-bottom: 20px;
}
.bootstrap-wrapper{
overflow-x: initial;
}