p {
    font-family: Lato;
  }
  
  mat-sidenav-container,
  mat-sidenav {
    height: 100%;
  }
  
  mat-sidenav {
    width: 200px;
    background-color: #f4f4f4;
  }
  mat-card {
    border-radius: 12px;
    -webkit-box-shadow: 0px -1px 5px 4px rgba(189,200,255,1);
    -moz-box-shadow: 0px -1px 5px 4px rgba(189,200,255,1);
    box-shadow: 0px -1px 5px 4px rgba(189,200,255,1) !important ;
  }