<div class="container text-center mt20">
  <button routerLink="/admin/add-quiz" mat-raised-button color="primary">
    Add New Quiz
  </button>
</div>
<div class="row">
<div class="col-md-6" *ngFor="let q of quizzes">
<mat-card class="mt10 mr20 ml20" >
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"><img src="https://png.pngtree.com/png-vector/20210414/ourlarge/pngtree-quiz-sign-icon-questions-png-image_3129181.jpg" width="40px" height="40px"></div>
    <mat-card-title>
      {{ q.title }}  Questions: {{ q.no_of_ques }}
    </mat-card-title>
    <mat-card-subtitle>
      <p>{{ q.cat_title }}</p>
      <p>Max Marks: {{ q.max_marks }}</p>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ q.description }}</p>
  </mat-card-content>
  <mat-card-action>
    <button
      [routerLink]="'/admin/view-questions/' + q.q_id + '/' + q.title"
      mat-flat-button
      class="btnColor"
    >
      Questions
    </button>
    
   
    <button
      [routerLink]="'/admin/quiz/' + q.q_id"
      mat-flat-button
      class=" btnColor"
    >
      Result
    </button>
    <button
      [routerLink]="'/admin/checkAns/' + q.q_id"
      mat-flat-button
      class="btnColor"
    >
      Check
    </button>

    <button mat-mini-fab color="primary"
    [routerLink]="'/admin/quiz/' + q.q_id"
    class="ml20" >
      <mat-icon>update</mat-icon>
    </button>
  
    <button mat-mini-fab color="primary" (click)="deleteQuiz(q.qId)" class="ml20" >
      <mat-icon>delete_outline</mat-icon>
    </button>
  </mat-card-action>
</mat-card>



</div>
</div>

