<div class="bootstrap-wrapper">
    <div class="container-fluid">
      <div class="row" style="margin-top: 20px;">
        <div class="col-md-12 text-center">
          <button mat-raised-button color="primary" routerLink="/user-dashboard/0" class="justify-content-center">Home</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <mat-card  class="mt10">
            <mat-card-content>
                <div class="row">
                <div class="col-md-6">
                    <h3><b>Total Questions: </b> {{quiz.total_question}}</h3>
                </div>
                <div class="col-md-6">
                    <h3><b>Marks Obtained</b> {{quiz.marks_obtained}} </h3>
                </div>
                </div>
              
              
              <mat-divider> </mat-divider>
              
            </mat-card-content>
          </mat-card><br>
          <div *ngFor="let q of quiz.answer_data; let i = index">
          <mat-card *ngIf="q.correct_option==q.selected_option">
            
            <mat-card-content class="question-content">
              <i>Question {{ i + 1 }}</i> <p [innerHTML]="q.content"></p> 
              <mat-divider> </mat-divider>
              <div class="row mt20">
                <div class="col-md-6">
                  <label>
                    <input
                    type="radio"
                    value="opt1"
                    disabled
                    [checked]="q.correct_option=='opt1'"
                    [name]="i"
                    [value]="q.givenAnswer"
                  />
                    <span>{{ q.opt1 }}</span>
                  </label>
                  
                </div>
                <div class="col-md-6">
                  <label>
                    <input
                    type="radio"
                    disabled
                    [checked]="q.correct_option=='opt2'"
                    [name]="i"
                    [value]="q.givenAnswer"
                  />
                    <span>{{ q.opt2 }}</span>
                  </label>
                </div>
              </div> 
  
               <div class="row mt5">
                <div class="col-md-6">
                  <label>
                    <input
                    type="radio"
                    disabled
                    [checked]="q.correct_option=='opt3'"
                    [name]="i"
                    [value]="q.givenAnswer"
                  />
                    <span>{{ q.opt3 }}</span>
                  </label>
                </div>
                <div class="col-md-6">
                  <label>
                    <input
                    type="radio"
                    disabled
                    [checked]="q.correct_option=='opt4'"
                    [name]="i"
                    [value]="q.givenAnswer"
                  />
                    <span>{{ q.opt4 }}</span>
                  </label>
                </div>
              </div>
             
            </mat-card-content>
       
          </mat-card>
          <mat-card *ngIf="q.correct_option!=q.selected_option">
            
            <mat-card-content class="question-content">
              <i>Question {{ i + 1 }}</i> <p [innerHTML]="q.content"></p> 
              <mat-divider> </mat-divider>
              <div class="row mt20">
                <div class="col-md-6">
                  <label>
                    <input
                    type="radio"
                    [ngStyle]="{'background-color': (q.selected_option=='opt1') ? 'red' : '#ffffff'}"

                    value="opt1"
                    [checked]="q.correct_option=='opt1'||q.selected_option=='opt1'"
                    [name]="i+2*1+q.content" 
                    [value]="q.givenAnswer"
                  />
                    <span>{{ q.opt1 }}</span>
                  </label>
                  
                </div>
                <div class="col-md-6">
                  <label>
                    <input
                    type="radio"
                    [ngStyle]="{'background-color': (q.selected_option=='opt2') ? 'red' : '#ffffff'}"

                    [checked]="q.correct_option=='opt2'||q.selected_option=='opt2'"
                    [name]="i+2*2+q.content"
                    [value]="q.givenAnswer"
                  />
                    <span>{{ q.opt2 }}</span>
                  </label>
                </div>
              </div> 
  
               <div class="row mt5">
                <div class="col-md-6">
                  <label>
                    <input
                    type="radio"
                    [ngStyle]="{'background-color': (q.selected_option=='opt3') ? 'red' : '#ffffff'}"

                    [checked]="q.correct_option=='opt3'||q.selected_option=='opt3'"
                    [name]="i+2*3+q.content"
                    [value]="q.givenAnswer"
                  />
                    <span>{{ q.opt3 }}</span>
                  </label>
                </div>
                <div class="col-md-6">
                  <label>
                    <input
                    type="radio" 
                    [ngStyle]="{'font-size': (q.selected_option=='opt4') ? '100px !important' : '100px'}"
                    [checked]="q.correct_option=='opt4'||q.selected_option=='opt4'"
                    [name]="i+2*4+q.content"
                    [value]="q.givenAnswer"
                  />
                    <span>{{ q.opt4 }}</span>
                  </label>
                </div>
              </div>
              <mat-divider> </mat-divider>
              <br>
              <p *ngIf="q.selected_option=='opt1'"><b>You Selected: </b> {{q.opt1}}</p>
              <p *ngIf="q.selected_option=='opt2'"><b>You Selected: </b>{{q.opt2}}</p>
              <p *ngIf="q.selected_option=='opt3'"><b>You Selected: </b>{{q.opt3}}</p>
              <p *ngIf="q.selected_option=='opt4'"><b>You Selected: </b>{{q.opt4}}</p>
             
            </mat-card-content>
   
      </mat-card>
      <mat-card *ngIf="q.selected_option==''||q.selected_option=='null'" style="background-color: #f7eeef;">
            
        <mat-card-content class="question-content">
          <i>Question {{ i + 1 }}</i> <p [innerHTML]="q.content"></p> 
          <mat-divider> </mat-divider>
          <div class="row mt20">
            <div class="col-md-6">
              <label>
                <input
                type="radio"
                value="opt1"
                disabled
                [checked]="q.correct_option=='opt1'"
                [name]="i"
                [value]="q.givenAnswer"
              />
                <span>{{ q.opt1 }}</span>
              </label>
              
            </div>
            <div class="col-md-6">
              <label>
                <input
                type="radio"
                disabled
                [checked]="q.correct_option=='opt2'"
                [name]="i"
                [value]="q.givenAnswer"
              />
                <span>{{ q.opt2 }}</span>
              </label>
            </div>
          </div> 

           <div class="row mt5">
            <div class="col-md-6">
              <label>
                <input
                type="radio"
                disabled
                [checked]="q.correct_option=='opt3'"
                [name]="i"
                [value]="q.givenAnswer"
              />
                <span>{{ q.opt3 }}</span>
              </label>
            </div>
            <div class="col-md-6">
              <label>
                <input
                type="radio"
                disabled
                [checked]="q.correct_option=='opt4'"
                [name]="i"
                [value]="q.givenAnswer"
              />
                <span>{{ q.opt4 }}</span>
              </label>
            </div>
          </div>
         
        </mat-card-content>

  </mat-card><br>
          

      
          </div>
  

        </div>
        
      </div>
    </div>
  </div>

  