<mat-card>
    <h1>Check Answer</h1>
    <mat-card-content>
      <div class="bootstrap-wrapper">
        
        <div class="row">
          <div class="col-md-3">
            
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Registration ID</mat-label>
  
                <input
                  required
                  autofocus
                  
                  type="text"
                  name="registrationId"
                 
                  (blur)="sendit($event.target.value)"
                  matInput
                  placeholder="Enter here"
                />
              </mat-form-field>
            </div>
          <div class="col-md-3">
            
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Full Name</mat-label>
  
                <input
                  required
                  disabled
                  value="{{stu_name}}"
                  type="text"
                  name="name"
                  
                  matInput
                  placeholder="Enter here"
                />
              </mat-form-field>
          </div>
          <div class="col-md-3">
              <mat-form-field class="w100" appearance="outline">
                <mat-label>Class</mat-label>
  
                <input
                  required
                  disabled
                  value="{{stu_class}}"               
                  type="text"
                  name="class"
                  
                  matInput
                  placeholder="Enter here"
                />
              </mat-form-field>
          </div>
          <div class="col-md-3">
              <mat-form-field class="w100" appearance="outline">
                <mat-label>School</mat-label>
  
                <input
                  required
                  value="{{stu_school}}"    
                  disabled              
                  type="text"
                  name="group"
                  matInput
                  placeholder="Enter here"
                />
              </mat-form-field>
          </div>
          
        </div>
        
      </div>
    </mat-card-content>
  </mat-card>

  
  <mat-card *ngFor="let q of ques_data; let i = index" class="mt10 question-mat-card">
    <mat-card-content class="question-content">
      <i>Question {{ i + 1 }}</i> <p [innerHTML]="q.content"></p> 
      <mat-divider> </mat-divider>
      <div class="row mt20">
        <div class="col-md-6">
          <label>
            <input
            type="radio"
            value="opt1"
            [name]="i"
            [(ngModel)]="q.givenAnswer"
          />
            <span>{{ q.opt1 }}</span>
          </label>
          
        </div>
        <div class="col-md-6">
          <label>
            <input
            type="radio"
            value="opt2"
            [name]="i"
            [(ngModel)]="q.givenAnswer"
          />
            <span>{{ q.opt2 }}</span>
          </label>
        </div>
      </div> 

       <div class="row mt5">
        <div class="col-md-6">
          <label>
            <input
            type="radio"
            value="opt3"
            [name]="i"
            [(ngModel)]="q.givenAnswer"
          />
            <span>{{ q.opt3 }}</span>
          </label>
        </div>
        <div class="col-md-6">
          <label>
            <input
            type="radio"
            value="opt4"
            [name]="i"
            [(ngModel)]="q.givenAnswer"
          />
            <span>{{ q.opt4 }}</span>
          </label>
        </div>
      </div>
     
    </mat-card-content>
  </mat-card>

  <div class="container text-center mt20 mb20">
    <button (click)="submitQuiz()" mat-raised-button color="primary">
      Submit Quiz
    </button>
  </div>